.blog {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 800px; /* Set the maximum width of the content */
  margin: 0 auto; /* Center the content horizontally */
  padding: 20px; /* Optional: add some padding */
  font-family: "Roboto", sans-serif; /* Apply Roboto font to all content in .blog */
  font-size: 16px; /* Ensure the text is 16px by default */
}

/* Apply heading styles within .blog */
.blog h1, .blog h2, .blog h3, .blog h4, .blog h5, .blog h6 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700; /* Bold for all headings */
  font-style: normal;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* Specific settings for each heading level within .blog */
.blog h1 {
  font-size: 36px; /* Largest heading */
  line-height: 1.2;
}

.blog h2 {
  font-size: 30px; /* Second largest */
  line-height: 1.3;
}

.blog h3 {
  font-size: 24px; /* Moderate size */
  line-height: 1.3;
}

.blog h4 {
  font-size: 20px; /* Slightly larger than body text */
  line-height: 1.4;
}

.blog h5 {
  font-size: 18px; /* Similar to body text, but slightly larger */
  line-height: 1.4;
}

.blog h6 {
  font-size: 16px; /* Same as body text, often used for subheadings */
  font-weight: 600; /* Slightly less bold */
  line-height: 1.5;
}

/* Apply font styles to <ul>, <li>, and <p> within .blog */
.blog ul, .blog li, .blog p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

/* Ensure that text elements within .blog, excluding headings, use the correct font size */
.blog *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
  font-size: 16px;
}

/* Additional rules for .blog body and other text classes */
.blog body, .blog .roboto-regular, .blog .roboto-thin, .blog .roboto-light, .blog .roboto-medium, .blog .roboto-bold, .blog .roboto-black, .blog .roboto-thin-italic, .blog .roboto-light-italic, .blog .roboto-regular-italic, .blog .roboto-medium-italic, .blog .roboto-bold-italic, .blog .roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.udemy {
  margin: 10px;
}

.content {
  display: grid;
}

.centered-content {
  text-align: center;
  margin-top: 50px;
}
