html{
    background-color: black;
    color: white;   
}
/* Unvisited link */
a:link {
    color: skyblue;
}
/* Visited link */
a:visited {
    color: skyblue;
}
/* Mouse over link */
a:hover {
    color: red;
}
/* Selected link (when clicked) */
a:active {
    color: skyblue;
}
.main{
    font-size: 50px;
}
